<div class="container">

  <h1>Destination Divvy</h1>

  <% if @distance %>
    <%= @distance %>
  <% end %>

  <form action="/stations" method="POST">
    <input type="text" class="search-box" name="starting_point" placeholder="Enter your starting point">
    <br><br>
    <input type="text" class="search-box" name="end_point" placeholder="Enter your destination">
    <br><br>
    <input type="submit" value="Submit">
  </form>

</div>
