<div class="container">

  <h1>Where will you pick up your Divvy?</h1>



<form method="post" action="/stations">
    <select name="origin">
      <% @stations.each do |station| %>
        <option><%= station["stationName"] %></option>
      <% end %>
    </select>
    <br><br>
    <input type="submit">
  </form>

</div>
