<div class="container">

  <h1>Destination Divvy</h1>

  <div id="locationField1">
    <input id="autocomplete1" placeholder="Enter your starting point"
           onFocus="geolocate()" type="text"></input>
  </div>
  <br>
  <div id="locationField2">
    <input id="autocomplete2" placeholder="Enter your destination"
           onFocus="geolocate()" type="text"></input>
  </div>

</div>
