<!DOCTYPE html>
<html lang="en">
<head>
  <title>Destination Divvy</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdo2gG-I_y4QRzEt4YZCp7O4otRzNv7a8&libraries=places"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdo2gG-I_y4QRzEt4YZCp7O4otRzNv7a8&libraries=places"
        async defer></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
